/* CSS3 Animation commit */
.button {
	position: absolute;
	width: 130px;
	height: 90px;
	border-radius: 2px 2px 2px 2px;
	color: white;
	background-color: green;
	font-family: tempus sans itc;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;

	transition: background-color 2s ease;
	transition: width 1s cubic-bezier;
	transition: height 1s cubic-bezier;
	transition: color 1s cubic-bezier;
	transition: font-size 1s cubic-bezier;

	/*transition-property: width, height, color, font-size 1s, 1s, 5s, 5s;
	transition-duration: 1s, 1s, 5s, 5s;
	transition-timing-function: cubic-bezier;*/

	/*transition: width 1s, height 1s, color 2s, font-size 3s ease-in;*/
	transition: all 2s ease-in;
}

.button {
	/*height: 200px;
	background-color: red;
	color: black;
	font-size: 30px;
	width: 250px;*/
	transform: rotate(360deg) scale(10);
}

#bg {
	position:absolute;
	width:2048px;
	height: 1536px;
	background: url(images/bg.jpg) no-repeat; 
}

#line {
	position: inherit;
	width:0px;
	height:217px;
	top:71px;
	left: 59px;
	background: url(images/line.gif) no-repeat;
	-webkit-animation: myAnimation 3s linear forwards;
	-webkit-animation-duration: 3s;
	-webkit-animation-name: myAnimation;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
}

.div {
	-webkit-animation: myAnimation 3s linear forwards;
	-webkit-animation-duration: 3s;
	-webkit-animation-name: myAnimation;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes myAnimation {
	from {width: 0px;}
	to {width: 330px;}
}